body {
  font-size: .875rem;
  color: #351296;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.btn-secondary{
  background-color: rgba(111, 111, 219, 1);
  border-color: rgba(111, 111, 219, 1);
  box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.btn-secondary:hover{
  background-color: #b66df6;
  border-color:#b66df6;
}
/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(27, 42, 73, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 1rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #351296;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #b66df6;
}

.sidebar .nav-link.active, .currentTime {
  color: #b66df6;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar {
  /* background-color: #221f3b; */
  /* background-color: #fff; */
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(111, 111, 219, 1) 0%, rgba(182, 109, 246, 1) 72.4%);
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  color: #b66df6;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/* .form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
} */
.webcam-container, .fish-details{
  margin: 1rem 0;
}

.webcam-view {
  margin: auto;
  text-align: center;
}

.fish-info {
  margin: 1rem;
  width: 90%;
  border-radius: 0.3rem;
  -webkit-box-shadow: 5px 5px 15px 2px #C4C5C6;
  box-shadow: 5px 5px 15px 3px #C4C5C6;
  text-align: center;
  padding: 1rem 0;
}

.alive {
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,95,104,1) 0%, rgba(15,156,168,1) 90% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.total-fish {
  background: linear-gradient( 109.8deg,  rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% );
  /* background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 37, 174, 1) 0%, rgba(241, 147, 55, 1) 53.4%, rgba(250, 237, 56, 1) 99.5%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dead-fish {
  background: radial-gradient(circle farthest-corner at 3.1% 6.8%, rgba(199, 0, 59, 1) 0%, rgba(255, 88, 53, 1) 97.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.status{
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 37, 174, 1) 0%, rgba(241, 147, 55, 1) 53.4%, rgba(250, 237, 56, 1) 99.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.currentTime {
  font-size: 1rem;
}

.event, .slidecontainer {
  display: inline-block;
}

/* icons */
.fish-details .fas{
  font-size: 1rem;
  padding: 0.5rem 0;
}

.heading .fas{
  font-size: 1.2rem;
}

/* download page  */
.select-date{
  margin:1rem 0;
  text-align: center;
}

.dropdown-item:focus{
  background-color: rgb(167,222,252);
}

.description{
  color:#535a60;
}

.report-heading{
  margin-top: 1rem;
}

.fish-graph{
  margin:1.5rem 0;
}
.bar-chart{
  width: 80%;
  margin:auto;
}

.status-table{
  margin:auto;
  min-height: 500px;
}

.charts{
  margin-bottom: 2rem;
}

.copyright{
  text-align: center;
}

.container{
  min-height: 500px;
}
